<div class="pipes-list-container">
  <h1>Pipes</h1>
  <div class="pipes-list">
    <ul>
      <li>
        <label>Date of Birth: 1990-01-01</label>
        <label>Age: <span>{{ '1990-01-01' | age }}</span></label>
      </li>
      <li>
        <label>Date of Birth: 1985-05-10</label>
        <label>Age: <span>{{ '1985-05-10' | age }}</span></label>
      </li>
      <li>
        <label>Date of Birth: 2000-11-30</label>
        <label>Age: <span>{{ '2000-11-30' | age }}</span></label>
      </li>
      <li>
        <label>Date of Birth: 1978-09-15</label>
        <label>Age: <span>{{ '1978-09-15' | age }}</span></label>
      </li>
      <li>
        <label>Date of Birth: 1995-03-25</label>
        <label>Age: <span>{{ '1995-03-25' | age }}</span></label>
      </li>
    </ul>
  </div>
</div>
