:host {
  display: block;
}

ion-toolbar {
  --toolbar-padding: calc(2 * var(--ion-padding));

  @media only screen and (max-width: 767px) {
    --toolbar-padding: calc(var(--ion-padding));
  }
  --padding-start: var(--toolbar-padding);
  --padding-end: var(--toolbar-padding);

  &.primary-toolbar {
    ion-menu-toggle {
      height: 32px !important;
      width: 32px !important;
      margin-right: 8px !important;

      ion-button {
        --padding-top: 0px;
        --padding-bottom: 0px;
        height: 32px !important;
        width: 32px !important;
        margin: 0 !important;
        &::part(native) {
          height: 32px !important;
          width: 32px !important;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--ion-color-primary-contrast) !important;
    }

    .page-title {
      margin-top: auto;
      margin-bottom: auto;
    }

    ion-button {
      --box-shadow: 0;
    }

    .clock {
      font-size: 0.9rem;
      .divider {
        padding-left: 4px;
        padding-right: 4px;
      }
      .time {
        font-weight: 900;
      }
    }
  }

  &.secondary-toolbar {
    --padding-start: var(--toolbar-padding);
    --padding-end: var(--toolbar-padding);
    --background: var(--ion-color-primary-tint);

    > ion-segment {
      --background: var(--ion-color-primary-tint);

      > ion-segment-button {
        --color: rgba(var(--ion-color-primary-contrast-rgb), 0.7);
        --color-checked: var(--ion-color-primary-contrast);
        --transition: all 0.5s ease !important;
      }
    }
  }

  .filter-btn {
    position: relative;
    z-index: 100;

    ion-badge {
      position: absolute;
      font-size: 8pt;
      right: -16px;
      top: -6px;
      z-index: 500;
    }

    &::part(native) {
      overflow: visible;
    }
  }
}
