<ion-split-pane
  [when]="menuWhen"
  contentId="main"
  [style.--side-width]="menuWidth + 'px'"
  class="transition"
>
  <ion-menu contentId="main" side="start" class="transition">
    <ion-header class="ion-no-border ion-padding-top" style="height: 112px">
      <ion-toolbar class="bg-transparent">
        <ion-title class="ion-no-padding ion-text-center">
          <img
            style="max-width: calc(var(--side-width) * 0.8)"
            [style.max-height]="
              menuWidth === menuMaxWidth && !isMobile ? '120px' : '44px'
            "
            [src]="logo"
            class="transition"
          />
          <h2
            [style.opacity]="menuWidth === menuMaxWidth ? '1' : '0'"
            class="transition"
            *ngIf="!logo"
          >
            {{ organizationName || "Welkom" }}
          </h2>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-transparent scroll-ctr" [scrollY]="false">
      <ion-list
        class="bg-transparent"
        style="padding-left: 0 !important; flex: 1 0px; overflow-y: auto"
      >
        <ion-menu-toggle [autoHide]="false" *ngFor="let page of menuItems">
          <app-menu-item
            [menuMaxWidth]="menuMaxWidth"
            [menuWidth]="menuWidth"
            [menuItem]="page"
            [isSubItem]="false"
            (click)="toggleSubItems(page)"
          ></app-menu-item>

          <ion-list
            *ngIf="page.subItems?.length > 0"
            class="bg-transparent sub-menu-item transition"
            style="
              padding-left: 0 !important;
              padding-top: 0 !important;
              padding-bottom: 0 !important;
            "
            [ngClass]="{ active: page.showSubItems }"
          >
            <ion-menu-toggle
              [autoHide]="false"
              *ngFor="let subPage of page.subItems"
            >
              <app-menu-item
                [menuMaxWidth]="menuMaxWidth"
                [menuWidth]="menuWidth"
                [menuItem]="subPage"
                [isSubItem]="true"
              ></app-menu-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-menu-toggle>
      </ion-list>

      <ion-list
        class="bg-transparent"
        style="padding-left: 0 !important; width: 100%; flex: 0 0 content"
      >
        <ion-item
          lines="none"
          class="ion-no-padding bg-transparent"
          expand="block"
          button
          *ngFor="let btn of bottomMenuItems"
          (click)="btn.func()"
          [detail]="false"
        >
          <ion-item
            lines="none"
            class="ion-no-padding bg-transparent"
            style="margin-left: 10px"
          >
            <ion-text slot="start" style="max-width: 40px">
              <ion-icon
                [name]="btn.icon"
                class="ion-margin-horizontal transition"
              ></ion-icon>
            </ion-text>
            <ion-label
              class="transition"
              [style.opacity]="menuWidth === menuMaxWidth ? '1' : '0'"
            >
              {{ btn.name }}
            </ion-label>
          </ion-item>
        </ion-item>
        <ion-item
          lines="none"
          class="ion-no-padding bg-transparent"
          expand="block"
          button
          (click)="seeMyDetails()"
          [detail]="false"
        >
          <!-- <ion-item
            lines="none"
            class="ion-no-padding bg-transparent"
            style="margin-left: 10px"
          >
            <ngx-avatars
              slot="start"
              [name]="me?.name"
              [src]="me?.imageSrc || ''"
              size="40"
              initialsSize="2"
            ></ngx-avatars>
            <ion-label
              class="transition"
              [style.opacity]="menuWidth === menuMaxWidth ? '1' : '0'"
              >{{ me?.name }}</ion-label
            >
          </ion-item> -->
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ng-content></ng-content>
</ion-split-pane>

<ion-fab-button
  color="secondary"
  size="large"
  class="fa-rotate-by transition"
  [ngClass]="!!menuWhen && menuWhen !== true ? hideClass : ''"
  style="
    position: absolute;
    display: inline-block;
    top: 71px;
    height: 48px;
    width: 48px;
    transform: translateX(-50%);
  "
  [style.left]="menuWidth + 'px'"
  [style.--border-radius]="'24px'"
  [style.transform]="
    'translateX(-50%) ' +
    (menuWidth === menuMaxWidth ? 'rotate(0deg)' : 'rotate(-180deg)')
  "
  (click)="toggleWidth()"
>
  <ion-icon
    [icon]="'chevron-back-outline'"
    [style.color]="'var(--ion-color-primary)'"
    size="lg"
  ></ion-icon>
</ion-fab-button>
