:root {
  /** primary **/
  --app-primary: #3880ff;
  --app-primary-rgb: 56, 128, 255;
  --app-primary-contrast: #ffffff;
  --app-primary-contrast-rgb: 255, 255, 255;
  --app-primary-shade: #3171e0;
  --app-primary-tint: #4c8dff;

  /** secondary **/
  --app-secondary: #3dc2ff;
  --app-secondary-rgb: 61, 194, 255;
  --app-secondary-contrast: #ffffff;
  --app-secondary-contrast-rgb: 255, 255, 255;
  --app-secondary-shade: #36abe0;
  --app-secondary-tint: #50c8ff;

  /** tertiary **/
  --app-tertiary: #5260ff;
  --app-tertiary-rgb: 82, 96, 255;
  --app-tertiary-contrast: #ffffff;
  --app-tertiary-contrast-rgb: 255, 255, 255;
  --app-tertiary-shade: #4854e0;
  --app-tertiary-tint: #6370ff;

  /** success **/
  --app-success: #2dd36f;
  --app-success-rgb: 45, 211, 111;
  --app-success-contrast: #ffffff;
  --app-success-contrast-rgb: 255, 255, 255;
  --app-success-shade: #28ba62;
  --app-success-tint: #42d77d;

  /** warning **/
  --app-warning: #ffc409;
  --app-warning-rgb: 255, 196, 9;
  --app-warning-contrast: #000000;
  --app-warning-contrast-rgb: 0, 0, 0;
  --app-warning-shade: #e0ac08;
  --app-warning-tint: #ffca22;

  /** danger **/
  --app-danger: #eb445a;
  --app-danger-rgb: 235, 68, 90;
  --app-danger-contrast: #ffffff;
  --app-danger-contrast-rgb: 255, 255, 255;
  --app-danger-shade: #cf3c4f;
  --app-danger-tint: #ed576b;

  /** dark **/
  --app-dark: #222428;
  --app-dark-rgb: 34, 36, 40;
  --app-dark-contrast: #ffffff;
  --app-dark-contrast-rgb: 255, 255, 255;
  --app-dark-shade: #1e2023;
  --app-dark-tint: #383a3e;

  /** medium **/
  --app-medium: #92949c;
  --app-medium-rgb: 146, 148, 156;
  --app-medium-contrast: #ffffff;
  --app-medium-contrast-rgb: 255, 255, 255;
  --app-medium-shade: #808289;
  --app-medium-tint: #9d9fa6;

  /** light **/
  --app-light: #f4f5f8;
  --app-light-rgb: 244, 245, 248;
  --app-light-contrast: #000000;
  --app-light-contrast-rgb: 0, 0, 0;
  --app-light-shade: #d7d8da;
  --app-light-tint: #f5f6f9;
}
