<div class="data-table-ctr">
  <ion-grid class="header-grid">
    <ion-row>
      <ion-col size="1" *ngIf="checkboxSelectable">
        <ion-text
          color="secondary"
          (click)="toggleAll()"
          style="padding-left: 4px; cursor: pointer"
        >
          <ion-icon size="lg" *ngIf="isAllChecked()" name="checkbox-outline" size="lg"></ion-icon>
          <ion-icon size="lg" *ngIf="isNoneChecked()" name="square-outline" size="lg"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col
        *ngFor="let col of columns"
        [size]="col.size"
        [class]="'ion-text-' + (col.align || 'start')"
        [class.cursor-pointer]="col.sortable"
        (click)="col.sortable ? onSort(col) : null"
      >
        {{ col.headerName }}
        <ng-container *ngIf="col.sortable">
          <ion-text
            *ngIf="
              !!sortField &&
                (col.field === sortField || col.sortField === sortField);
              else sortDefault
            "
            color="primary"
          >
          <ion-icon *ngIf="sortOrder === 'asc'" size="lg" name="arrow-down-outline"></ion-icon>
          <ion-icon *ngIf="sortOrder !== 'asc'" size="lg" name="arrow-up-outline"></ion-icon>
          </ion-text>

          <ng-template #sortDefault>
            <ion-text color="medium">
              <ion-icon name="funnel-outline" size="lg"></ion-icon>
            </ion-text>
          </ng-template>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="data-grid">
    <cdk-virtual-scroll-viewport
      [itemSize]="itemSize"
      [minBufferPx]="minBufferPx"
      [maxBufferPx]="maxBufferPx"
      class="ion-content-scroll-host"
      style="height: 100%"
    >
      <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
      <ion-row *ngIf="rowData?.length === 0" class="ion-text-center">
        <ion-col>
          <i>
            <small>no items</small>
          </i>
        </ion-col>
      </ion-row>
      <ion-row
        [ngClass]="isBoldFirstColumn ? 'column' : ''"
        *ngFor="let row of rowData"
        (click)="rowClicked(row)"
      >
        <ion-col
          size="1"
          *ngIf="checkboxSelectable"
          clickStopPropagation
          (click)="check(row)"
        >
          <ion-text [color]="isChecked(row) ? 'primary' : 'secondary'">
            <ion-icon *ngIf="isChecked(row)" name="checkbox-outline" size="lg"></ion-icon>
            <ion-icon *ngIf="!isChecked(row)" name="square-outline" size="lg"></ion-icon>
          </ion-text>
        </ion-col>
        <ion-col
          *ngFor="let col of columns"
          [size]="col.size"
          [class]="'ion-text-' + (col.align || 'start') + ' overflow-ellipsis'"
        >
          <ng-container *ngIf="!col.template">
            {{ row | displayCellData : col }}
          </ng-container>
          <ng-template
            *ngIf="col.template"
            [ngTemplateOutlet]="col.template"
            [ngTemplateOutletContext]="{ value: row.value, row: row }"
          >
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-infinite-scroll
        threshold="100px"
        (ionInfinite)="loadData($event)"
        #infiniteScroll
      >
        <ion-infinite-scroll-content
          loadingSpinner="lines-sharp-small"
          loadingText="loading"
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </cdk-virtual-scroll-viewport>
  </ion-grid>
</div>
