<div class="directives-list-container">
  <h1>Highlight directive</h1>
  <div class="highlight-directives-list">
    <div appHighlight="green">
      This element will be highlighted in green when hovered over.
    </div>
    <button appHighlight="green">Submit</button>
  </div>

  <h1>Skeleton Loading directive</h1>
  <div class="loading-directives-list">
    <div
      [appSkeletonLoading]="true"
      skeletonColor="red"
      skeletonAnimation="wave"
      style="width: 100px; height: 100px"
    ></div>
  </div>

  <h1>Are you sure directive</h1>
  <div class="confirm-directives-list">
    <ul>
      <li *ngFor="let item of items">
        {{ item }}
        <button
          appConfirmClick="Do you want to delete this item?"
          (click)="deleteItem(item)"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>

  <h1>Min Max directive</h1>
  <div class="confirm-directives-list">
    <input
      type="number"
      name="myNumber"
      [(ngModel)]="myNumberValue"
      [appMinMax]="[10, 100]"
    />
  </div>
</div>
