<ion-card style="width: calc(100% - 20px); height: calc(100% - 20px)">
  <ion-card-header>
    <ion-card-title
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      "
      [color]="headerTextColor"
    >
      <ion-icon [name]="iconName"></ion-icon>
      <h5>{{ title }}</h5>
      <ion-buttons>
        <ng-container *ngIf="displayActions">
          <ion-button
            [fill]="buttonFill"
            [id]="'cardMenu-' + cardId"
            *ngIf="displayMenu"
          >
            <ion-icon
              slot="icon-only"
              [name]="'menu-outline'"
            ></ion-icon>
          </ion-button>
          <ion-button
          [fill]="buttonFill"
          color="primary"
          (click)="add()"
          *ngIf="displayAdd"
        >
          <ion-icon slot="icon-only" [name]="'add-outline'"></ion-icon>
        </ion-button>
          <ion-button
            [fill]="buttonFill"
            color="primary"
            (click)="edit()"
            *ngIf="displayEdit"
          >
            <ion-icon
              slot="icon-only"
              [name]="'pencil-outline'"
            ></ion-icon>
          </ion-button>
          <ion-button
            [fill]="buttonFill"
            color="danger"
            (click)="delete()"
            *ngIf="displayDelete"
          >
            <ion-icon slot="icon-only" [name]="'trash-outline'"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding">
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>

<ion-popover
  [trigger]="'cardMenu-' + cardId"
  triggerAction="click"
  [dismissOnSelect]="true"
  *ngIf="displayMenu"
>
  <ng-template>
    <ion-content class="ion-background-overlay">
      <ng-content select="[slot=menu]"></ng-content>
    </ion-content>
  </ng-template>
</ion-popover>
