<ion-header>
  <ion-toolbar>
    <ion-title>
      Age Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Date of Birth: 1990-01-01</ion-label>
      <ion-label>Age: {{ '1990-01-01' | age }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth: 1985-05-10</ion-label>
      <ion-label>Age: {{ '1985-05-10' | age }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth: 2000-11-30</ion-label>
      <ion-label>Age: {{ '2000-11-30' | age }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth: 1978-09-15</ion-label>
      <ion-label>Age: {{ '1978-09-15' | age }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth: 1995-03-25</ion-label>
      <ion-label>Age: {{ '1995-03-25' | age }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!--
<label>Enter Property Code:</label>
<input type="text" [(ngModel)]="propertyCode">
<p>
  Property Value: {{ entityProperties | propertyValue: propertyCode }}
</p> -->
